apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cluster-issuer.yaml

helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    repo: https://charts.jetstack.io
    version: v1.14.0 # Check for latest
    valuesInline:
      installCRDs: true  # CRITICAL: Talos needs Argo to handle CRDs
      prometheus:
        enabled: false   # Enable this later if you install Grafana
