apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - dashboard-ingress.yaml
  - tls-store.yaml
  - wildcard-cert.yaml
  # Removed the raw github URL to prevent conflicts with installCRDs: true

helmCharts:
  - name: traefik
    releaseName: traefik
    namespace: traefik
    repo: https://traefik.github.io/charts
    version: 34.0.0 
    valuesInline:
      deployment:
        kind: Deployment
      installCRDs: true
      ingressClass:
        enabled: true
        isDefaultClass: true
      metrics:
        prometheus:
          entryPoint: metrics
      service:
        metrics:
          # This creates the endpoint Prometheus will look for
          annotations:
            prometheus.io/scrape: "true"
            prometheus.io/port: "8082"
      ports:
        web:
          exposedPort: 80
        websecure:
          exposedPort: 443
