apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - dashboard-ingress.yaml # Add this line
  - tls-store.yaml
  - wildcard-cert.yaml
  - https://raw.githubusercontent.com/traefik/traefik/v3.0/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml

helmCharts:
  - name: traefik
    releaseName: traefik
    namespace: traefik
    repo: https://traefik.github.io/charts
    version: 34.0.0 # Check for latest version
    valuesInline:
      # This tells Traefik to listen for the "Ingress" resources we'll make later
      metrics:
        prometheus:
          entryPoint: metrics
      service:
        metrics:
          annotations:
            prometheus.io/scrape: "true"
            prometheus.io/port: "8082"
      deployment:
        kind: Deployment
      installCRDs: true  # <--- Add this
      ingressClass:
        enabled: true
        isDefaultClass: true
      # Standard Ports
      ports:
        web:
          exposedPort: 80
        websecure:
          exposedPort: 443
