apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-dynamic-pvc
  namespace: traefik
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
