apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-smeyer-ca
  namespace: traefik # We put the secret here so Traefik can use it
  annotations:
    argoproj.io/sync-wave: "10" # Higher number = happens later
spec:
  secretName: wildcard-smeyer-ca-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "*.smeyer.ca"
  dnsNames:
    - "smeyer.ca"
    - "*.smeyer.ca"
