apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
  - name: kube-prometheus-stack
    releaseName: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 61.3.1
    namespace: monitoring
    valuesInline:
      prometheus:
        prometheusSpec:
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: longhorn
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 20Gi
      grafana:
        adminPassword: "admin"
        ingress:
          enabled: true
          ingressClassName: traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
          hosts:
            - grafana.smeyer.ca
          path: /
          pathType: ImplementationSpecific
