apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    # Use the direct Helm Repo instead of your git path
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 61.3.1
    helm:
      valuesInline:
        prometheus:
          prometheusSpec:
            storageSpec: 
              volumeClaimTemplate:
                spec:
                  storageClassName: "longhorn" # Added quotes
                  accessModes: "ReadWriteOnce"            # Switched to block list
                  resources:
                    requests:
                      storage: "20Gi"          # Added quotes
        grafana:
          adminPassword: "admin"
          ingress:
            enabled: true
            ingressClassName: traefik
            hosts:
              - grafana.smeyer.ca
            path: /
            pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
